<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Simples Skype Style</string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.e26.Simples.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Simples</string>
	<key>CFBundlePackageType</key>
	<string>SKP1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>11</integer>
	<key>DisableCustomBackground</key>
	<true/>
	<key>MessageViewVersion</key>
	<integer>6</integer>
	<key>ShowsUserIcons</key>
	<true/>
	<key>FormattedCopyCompatible</key>
	<false/>
	<key>SupportsStoredRender</key>
	<false/>
</dict>
</plist>
