/* General */
* {
	margin:0;
	padding:0;
}
body {
  font-size:65.8%;
  font-family:helvetica,sans-serif;
}

img {
	border: none;
}

.emoticon {
	margin-top: 3px;
}


/*** 
  Globals > Button 
***/
button.pill{
  padding:1px 9px;
  margin:0 5px;
  border:1px solid #aaa;
  background:-webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#adadad));
  -webkit-border-radius:15px;
}
button.pill:hover{
  cursor:pointer;
  background:-webkit-gradient(linear, left top, left bottom, from(#C9C9C9), to(#9B9B9B));
}

/****
  Item Generic
***/

div.item {
  position:relative;
	clear: both;
	padding: 7px 10px;
	overflow:auto;
	-webkit-animation-name: fadeIn;
	-webkit-animation-delay: 0s; 
	-webkit-animation-duration: 0.9s;
}
div.item div.container {
	margin: 0 0 0 43px;
	padding: 3px 6px;
	line-height: 18px;
  overflow:auto;
	border: 1px solid #62A9DF;
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.25);
	-webkit-border-radius: 5px;
	border-radiusadius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c2e0fd)
		, color-stop(2%, #d9ebfd), color-stop(50%, #d9ebfd));
	text-shadow: 1px 1px 1px #fff;
}
div.item div.body{
  font-size:1.1em;
}
div.item div.head {
	float:right;
	color: #62BEF1;
}
div.item div.head a{
	color: inherit;
	text-decoration: none;
}

/***
  Message
***/
div.item.message img.avatar {
  position:absolute;
  left:10px;
  top:7px;
	width: 30px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.message div.speech {
	width:9px;
	height:14px;
	position:absolute;
	top: 15px;
	left: 45px;
	z-index:2;
	background: transparent url(../images/message-top.png) no-repeat top left;
}
div.item.message.out div.speech{
  background-image: url(../images/message-top-outgoing.png);
}
div.item.message div.container span.sender:after{
  content:' – ';
}
div.item.message div.container div.container {
	margin: 3px 0 0 0;
	padding: 3px 0 0 0;
	border-top: 1px solid #9FD4FE;
	border-width:1px 0 0;
	-webkit-box-shadow:none;
}
div.item.message.out div.container div.container{
  border-top-color:#C9C9C9;
}
div.item.message div.container div.container span.sender{
  display:none;
}
div.item.message button{
  display:none;
}
p.context {
	color: #528AA6;
}
div.outgoing p.context {
	color: #898989;
}

/***  
  Message > Out 
***/
div.out.message div.container {
	border-color: #9F9F9F;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DADADA)
		, color-stop(2%, #E7E7E7), color-stop(50%, #E7E7E7));
}
div.item.out div.message-speech {
	background-image: url(../images/message-top-outgoing.png);
}
div.item.out div.head {
	color: #AFAFAF;
}
div.item.out div.next {
	border-top-color: #C9C9C9;
}


/***
  Topic
***/
div.item.topic{
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0;
  padding:2px;
	z-index:10;
	border: 1px solid #E1C843;
	border-width:0 0 1px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF4B2)
		, color-stop(2%, #FEF7CF), color-stop(50%, #FEFBCE));
	text-shadow: 0px 0px 1px #fff;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.topic div.container{
  margin:0;
	-webkit-box-shadow:none;
  background:transparent;
  border:0;
}
div.item.topic div.head {
	float:right;
	color: #BCC409;
}

/***
  Status
***/
div.item.status div.container {
  margin:0;
	border: 1px solid #E1C843;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF4B2)
		, color-stop(2%, #FEF7CF), color-stop(50%, #FEFBCE));
	text-shadow: 0px 0px 1px #fff;
}

div.item.status div.head {
	color: #BCC409;
}

/***
  History
***/
div.history{
	background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#adadad));
	border-bottom: 1px solid #777;
	padding: 1px 20px;
	font: 10px/22px "Lucida Grande", Verdana, Arial, sans-serif;
}
div.history div.container{
  margin:0;
  padding:5px 0;
  background:transparent;
  -webkit-box-shadow:none;
  border:0;
}
div.history a{
  border-left:1px solid #999;
  padding:0 0 0 8px;
  margin:0 4px 0 0;
  text-decoration:none;
}
div.history a:first-child{
  border-left:none;
}


/***
  Transfer
***/
div.item.transfer img.avatar {
  position:absolute;
  left:10px;
  top:7px;
	width: 30px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.transfer div.body{
  float:left;
}
div.item.transfer div.instance{
  clear:both;
}
div.item.transfer button.delete,
div.item.transfer button.quicklook,
div.item.transfer button.reveal,
div.item.transfer button.cancel,
div.item.transfer button.edit {
	width: 14px;
	height: 14px;
	background: url(../images/buttons-14.png) no-repeat 0 0;
	vertical-align: middle;
	opacity: 0.25;
	border:0;
}
div.item.transfer .icon {
	float: left;
	height: 32px;
	width: 32px;
	margin-top: 1px;
}
div.item.transfer button.delete {
	background-position: 0 0;
}
div.item.transfer button.cancel {
	background-position: 0 0;
}
div.item.transfer button.reveal {
	background-position: 0 -56px;
}
div.item.transfer button.quicklook {
	background-position: 0 -42px;
}
div.item.transfer.out .progressbar .progress.hidden,
div.item.transfer .connecting .progressbar .progress.hidden {
	width: 100%;
	display: block;
  background:#999;
	border: 1px solid #000;
	opacity: 0.1;
}

#conversation .transfer.out .running .progressbar .total {
	background: -webkit-gradient(linear, left bottom, left top,
		color-stop(0, #f0f0f0),
		color-stop(0.8, #e8e8e8),
		color-stop(1, #dbdbdb)
	);
}

/***
  Transfer > Connecting
***/
div.item.transfer div.connecting .progressbar {
	display: block;
}			
div.item.transfer div.connecting .accept,
div.item.transfer div.connecting .decline {
	display: none;
}
/***
  Transfer > Running
***/
div.item.transfer div.running .cancel,
div.item.transfer div.running .progressbar {
	display: block;
}
div.item.transfer div.running .accept,
div.item.transfer div.running .decline {
	display: none;
}
/***
  Transfer > Completed
***/
div.item.transfer div.completed .quicklook,
div.item.transfer div.completed .reveal,
div.item.transfer div.completed .delete {
	display: block;
}
div.item.transfer div.completed.cancelled .quicklook,
div.item.transfer div.completed.cancelled .reveal,
div.item.transfer div.completed.failed .quicklook,
div.item.transfer div.completed.failed .reveal {
	display: none;
}
div.item.transfer div.completed .accept,
div.item.transfer div.completed .decline,
div.item.transfer div.completed .cancel,
div.item.transfer div.completed .cancel,
div.item.transfer div.completed .progressbar {
	display: none;
}

/***
  Alert
***/
div.item.alert div.container{
  margin:0;
  border: 1px solid #E1C843;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF4B2)
		, color-stop(2%, #FEF7CF), color-stop(50%, #FEFBCE));
	text-shadow: 0px 0px 1px #fff;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.alert div.head {
	color: #BCC409;
}

/***
  Typing
***/

div.item.typing div.container{
  margin:0;
  border:0;
	background:transparent;
	text-align:center;
	text-shadow:none;
  -webkit-box-shadow:none;
}
div.item.typing.invisible{
  visibility:hidden;
}
div.item.typing div.head {
  float:none;
	color: #999;
}

/* Word highlight */

span.highlight {
	background: yellow;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0; 
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1; 
		-webkit-animation-timing-function: ease-out;
	}
}
