/* General */
* {
	margin:0;
	padding:0;
}
body {
  font-size:65.8%;
  font-family:helvetica,sans-serif;
}

img {
	border: none;
}

.emoticon {
	margin-top: 3px;
}

/****
  Item Generic
***/

div.item {
  position:relative;
	clear: both;
	padding: 7px 10px;
	overflow:auto;
	-webkit-animation-name: fadeIn;
	-webkit-animation-delay: 0s; 
	-webkit-animation-duration: 0.9s;
}
div.item div.container {
	margin: 0 0 0 43px;
	padding: 3px 6px;
	line-height: 18px;
  overflow:auto;
	border: 1px solid #62A9DF;
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.25);
	-webkit-border-radius: 5px;
	border-radiusadius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c2e0fd)
		, color-stop(2%, #d9ebfd), color-stop(50%, #d9ebfd));
	text-shadow: 1px 1px 1px #fff;
}
div.item div.body{
  font-size:1.1em;
}
div.item div.head {
	float:right;
	color: #62BEF1;
}
div.item div.head a{
	color: inherit;
	text-decoration: none;
}

/***
  Message
***/
div.item.message img.avatar {
  position:absolute;
  left:10px;
  top:7px;
	width: 30px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.message-speech {
	width:9px;
	height:14px;
	position:absolute;
	top: 15px;
	left: 45px;
	z-index:2;
	background: transparent url(../images/message-top.png) no-repeat top left;
}
div.item.message div.next {
	border-top: 1px solid #9FD4FE;
	margin-top: 3px;
	padding-top: 3px;
}
div.item.message button{
  display:none;
}
p.context {
	color: #528AA6;
}
div.outgoing p.context {
	color: #898989;
}

/***  
  Message > Out 
***/
div.out.message div.container {
	border-color: #9F9F9F;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DADADA)
		, color-stop(2%, #E7E7E7), color-stop(50%, #E7E7E7));
}
div.item.out div.message-speech {
	background-image: url(../images/message-top-outgoing.png);
}
div.item.out div.head {
	color: #AFAFAF;
}
div.item.out div.next {
	border-top-color: #C9C9C9;
}


/***
  Topic
***/
div.item.topic{
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0;
  padding:2px;
	z-index:10;
	border: 1px solid #E1C843;
	border-width:0 0 1px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF4B2)
		, color-stop(2%, #FEF7CF), color-stop(50%, #FEFBCE));
	text-shadow: 0px 0px 1px #fff;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.topic div.container{
  margin:0;
	-webkit-box-shadow:none;
  background:transparent;
  border:0;
}
div.item.topic div.head {
	float:right;
	color: #BCC409;
}

/***
  Status
***/
div.item.status div.container {
  margin:0;
	border: 1px solid #E1C843;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF4B2)
		, color-stop(2%, #FEF7CF), color-stop(50%, #FEFBCE));
	text-shadow: 0px 0px 1px #fff;
}

div.item.status div.head {
	color: #BCC409;
}

/***
  History
***/
div.history{
	background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#adadad));
	border-bottom: 1px solid #777;
	padding: 1px 20px;
	font: 10px/22px "Lucida Grande", Verdana, Arial, sans-serif;
}
div.history a{
  border-left:1px solid #999;
  padding:0 0 0 8px;
  margin:0 4px 0 0;
  text-decoration:none;
}
div.history a:first-child{
  border-left:none;
}


/***
  Transfer
***/
div.item.transfer img.avatar {
  position:absolute;
  left:10px;
  top:7px;
	width: 30px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
div.item.transfer div.body{
  float:left;
}
div.item.transfer button.delete,
div.item.transfer button.quicklook,
div.item.transfer button.reveal,
div.item.transfer button.cancel,
div.item.transfer button.edit {
	width: 14px;
	height: 14px;
	background: url(../images/buttons-14.png) no-repeat 0 0;
	vertical-align: middle;
	opacity: 0.25;
	border:0;
}
#conversation .transfer .icon {
	float: left;
	height: 32px;
	width: 32px;
	margin-top: 1px;
}
div.item.transfer button.delete {
	background-position: 0 0;
}
div.item.transfer button.cancel {
	background-position: 0 0;
}
div.item.transfer button.reveal {
	background-position: 0 -56px;
}
div.item.transfer button.quicklook {
	background-position: 0 -42px;
}
#conversation .transfer .progressbar {
	margin-top: 9px;
}

#conversation .transfer.in .progressbar {
	display: none;
}

	#conversation .transfer.in .connecting .progressbar {
		display: block;
	}

	#conversation .transfer.out .progressbar .progress.hidden,
	#conversation .transfer .connecting .progressbar .progress.hidden {
		width: 100%;
		display: block !important;
		background-image: url(../gfx/asset-sprite.png);
		background-repeat: repeat-x;
		background-position: 0 0;
		border: 1px solid rgba(0, 0, 0, 0);
		opacity: 0.1;
	}

	#conversation .transfer .running .progressbar {
		display: block;
		margin-bottom: -2px;
	}
	
	#conversation .transfer .connecting .progressbar {
		display: block;
		margin-bottom: -2px;
	}
	
	#conversation .transfer.out .progressbar {
		margin-bottom: -2px;
	}
	
		#conversation .transfer.out .running .progressbar .total {
			background: -webkit-gradient(linear, left bottom, left top,
				color-stop(0, #f0f0f0),
				color-stop(0.8, #e8e8e8),
				color-stop(1, #dbdbdb)
			);
		}
				
	#conversation .transfer .running .accept,
	#conversation .transfer .running .decline {
		display: none;
	}
	
	#conversation .transfer .running .cancel {
		display: block;
	}
	
	#conversation .transfer .running .name {
		margin-top: 0px;
	}
	
	#conversation .transfer .sub.running .name {
		margin-top: -1px;
	}

	#conversation .transfer .running .icon {
		margin-top: 9px;
	}
	
#conversation .transfer .completed .quicklook,
#conversation .transfer .completed .reveal,
#conversation .transfer .completed .delete {
	display: block;
	margin-top: 11px;
}

#conversation .transfer .missing .quicklook,
#conversation .transfer .missing .reveal,
#conversation .transfer .missing .delete {
	display: none;
}

#conversation .transfer .connecting .accept,
#conversation .transfer .connecting .decline {
	display: none;
}

#conversation .transfer .sub .quicklook,
#conversation .transfer .sub .reveal,
#conversation .transfer .sub .delete {
	margin-top: 18px;
}

#conversation .transfer .main .reveal {
	display: none;
}

#conversation .transfer.in .main.completed:last-child .quicklook,
#conversation .transfer.in .main.completed:last-child .reveal {
	display: block;
}

#conversation .transfer.out .main.completed:last-child .quicklook,
#conversation .transfer.out .main.completed:last-child .reveal,
#conversation .transfer.out .main.cancelled:last-child .quicklook,
#conversation .transfer.out .main.cancelled:last-child .reveal {
	display: block;
}

#conversation .transfer.in .completed.cancelled .quicklook,
#conversation .transfer.in .completed.cancelled .reveal,
#conversation .transfer.in .completed.failed .quicklook,
#conversation .transfer.in .completed.failed .reveal {
	display: none !important;
}

#conversation .transfer .completed .quicklook,
#conversation .transfer .completed .reveal {
	margin-left: 7px;
}

#conversation .transfer .completed .accept,
#conversation .transfer .completed .decline {
	display: none;
}

#conversation .transfer .missing .accept,
#conversation .transfer .missing .decline {
	display: none;
}

#conversation .transfer.out .completed .cancel {
	display: none;
}

#conversation .transfer.out .completed .name {
	margin-top: 8px;
}

#conversation .transfer.out .completed .icon {
	margin-top: 1px;
}

#conversation .transfer.out .sub.completed .icon {
	margin-top: 9px;
}

#conversation .transfer .missing .name {
	opacity: 0.65;
}

#conversation .transfer .missing .icon {
	opacity: 0.65;
}

#conversation .transfer.out .completed .progressbar {
	display: none;
}


/* Alerts word highlight */

span.highlight {
	padding: 1px;
	background: yellow;
	display: inline !important;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0; 
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1; 
		-webkit-animation-timing-function: ease-out;
	}
}
